.homeButton {
  width: 40px;
  height: auto;
  left: 15px;
  margin-top: -10px;
}

body {
  text-align: center;
  font-family: Calibri;
  color: #46494c;
}

.body {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
}

.content-display {
  background: no-repeat center fixed;
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ), url('http://cdn.playbuzz.com/cdn/b38c571d-492b-43e7-8bb0-dea32173ec3e/a503c371-e142-4e3e-8dfc-47e3c3cdf231.jpg');
  padding: 20px;
  min-height: 100vh;
}

.container {
  margin-top:100px;
  font-size: 16px;
  max-width: 600px;
  background-color: white;
  box-shadow: 0px 5px 10px #888889;
  padding: 15px;
}

label {
  float: left;
}

.rating {
  position: absolute;
  top: 30px;
  right: 0;
}

.abcRioButtonLightBlue {
  position: absolute;
  margin: auto;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.img-circle:hover {
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: all .2s ease-in-out;
}

.showpic {
  display: inline-block;
  margin: 20px;
}

.friend-pic {
  width: 220px;
  height: 220px;
}

/*.navbar {
  position: fixed;
  background-color: skyblue;
  width:100vw;
  top: 0px;
  opacity: 0.7;
}*/

.header {
  color: white;
  height: 45vh;
  padding-top: 150px;
  /*background-image:*/
    /*url('https://i.ytimg.com/vi/0zG_lckuzbo/maxresdefault.jpg');
    url('http://az616578.vo.msecnd.net/files/2016/04/01/6359508041117319461703337165_A872A67159F54144A204A2E632FE4123.ashx.jpeg')*/
  background-position: top;
}

.friendDisplay {
  position: center;
  width: 80vw;
  margin: 0px;
  padding: 0px;
}