.homeButton {
  width: 40px;
  height: auto;
  left: 15px;
  margin-top: -10px;
}

body {
  text-align: center;
  font-family: 'Chewy', cursive;
  color: #46494c;
}

.body {
  padding-left: 0px;
  padding-right: 0px;

}

.content-display {
  background: no-repeat center fixed;
  background-size: cover;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ), url('http://cdn.playbuzz.com/cdn/b38c571d-492b-43e7-8bb0-dea32173ec3e/a503c371-e142-4e3e-8dfc-47e3c3cdf231.jpg');
  padding-top: 20px;
  min-height: 100vh;
}

.container {
  color:black;
  margin-top:100px;
  font-size: 16px;
  max-width: 600px;
  box-shadow: 0px 5px 10px #888889;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

.friendPhotoView {
  margin-top: 80px;
}

label {
  float: left;
}

.rating {
  position: absolute;
  top: 30px;
  right: 0;
}

.abcRioButtonLightBlue {
  position: absolute;
  margin: auto;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.img-circle:hover {
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: all .2s ease-in-out;
}

.showpic {
  display: inline-block;
  margin: 20px;
}

.friend-pic {
  width: 220px;
  height: 220px;
}

.header {
  color: white;
  height: 45vh;
  margin-top: 110px;
  padding-top: 40px;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.6);
}

.welcomeMessage {
  font-size: 70px;
}

.friendDisplay {
  position: center;
  width: 80vw;
  margin: 0px;
  padding: 0px;
}

.lowVal {
  float: left;
}
.highVal {
  float: right;
}

.ratingInput {
  margin-bottom:20px;
}

td {
  width:150px;
  text-align: left;
}

.navbar-form navbar {
  display: block;
}
