.homeButton {
  width:60px;
  height: auto;
}

.main {
  text-align: center;
}

.profile {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
}

.form-row {
  width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

.form-row-inner-partial.left {
  width: 50%;
  float: left;
}

.form-row-inner-partial.right {
  width: 50%;
  float: right;
}

.form-row-inner-full {
  width: 100%;
}

form input {
  width: 50%;
  font-size: 14px;
}

.rating {
  position: absolute;
  top: 30px;
  right: 0;
}

.abcRioButtonLightBlue {
  position: absolute;
  margin: auto;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.showpic {
  display: inline;
  margin: 20px;
}

.friend-pic {
  width: 220px;
  height: 220px;
}

.content-display {
  background-color: rgb(255,227,193);
}
