<div ng-controller="UsersCtrl" class="viewInstance friendPhotoView">
<!-- 	want to change to click friend, once the function is implemented -->

  <form class="navbar-form navbar">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
  </form>

  <div class="showpic" ng-repeat='friend in groupFriends | filter:query' ng-click="clickFriend(currentUser, friend.name)">
		<img class="img-circle friend-pic"ng-src="{{friend.pic}}" />
</div>
