<div ng-controller="RatingsCtrl" class="viewInstance">
  <div class="container">
    <div class="form-group">
      <form name="ratingsForm" ng-submit="submit()" id="ratingsForm">
        <div class="ratingInput activity">
          Describe {{clickedUser}}'s outdoor activity habits.<br>
          <span class="lowVal">Likes adventure</span>
          <span> {{clickedUser}}{{activityStr}}</span>
          <span class="highVal">Enjoys relaxing</span>
          <input type="range" min="0" max="100" value="50" ng-model="activityLevel" ng-change="updateStr('activity', {{activityLevel}})"/>
        </div>

        <div class="ratingInput spending">
          How much would {{clickedUser}} be willing to spend on lunch?<br>
          <span class="lowVal">$5</span>
          <span> {{clickedUser}}{{spendingStr}}</span>
          <span class="highVal">$20</span>
          <input type="range" min="0" max="100" value="50" ng-model="spendingLevel" ng-change="updateStr('spending', {{spendingLevel}})"/>
        </div>

        <div class="ratingInput activity">
          On a typical Saturday night, {{clickedUser}}...<br>
          <span class="lowVal">Party animal</span>
          <span>{{partyingStr}}</span>
          <span class="highVal">Homebody</span>
          <input type="range" min="0" max="100" value="50" ng-model="partyingLevel" ng-change="updateStr('partying', {{partyingLevel}})"/>
        </div>

        <div class="ratingInput nerdy">
          How often does {{clickedUser}} talk about work/code?<br>
          <span class="lowVal">Lives and breathes code</span>
          <span> {{clickedUser}}{{nerdyStr}}</span>
          <span class="highVal">What's code?</span>
          <input type="range" min="0" max="100" value="50" ng-model="nerdyLevel" ng-change="updateStr('nerdy', {{nerdyLevel}})"/>
        </div>

        <div class="ratingInput talkative">
          Describe {{clickedUser}}'s personality.<br>
          <span class="lowVal">Extroverted</span>
          <span> {{clickedUser}}{{talkativeStr}}</span>
          <span class="highVal">Introverted</span>
          <input type="range" min="0" max="100" value="50" ng-model="talkativeLevel" ng-change="updateStr('talkative', {{talkativeLevel}})"/>
        </div>

        <textarea class="form-control" rows="3" id="textarea" ng-model="comment" name="comment" ng-maxlength="255" placeholder="Tell us how awesome {{clickedUser}} is here!"></textarea>

        <input type="submit" id="submit" value="Submit" class="btn btn-primary">
      </form>

      <p ng-show="ratingsForm.rating.$error.number">Rating must be a number</p>
      <p ng-show="ratingsForm.rating.$error.max">Rating must be 100 or less</p>
      <p ng-show="ratingsForm.rating.$error.min">Rating must be 1 or higher</p>
      <p ng-show="ratingsForm.rating.$error.maxlength">Rating must be 1 digit</p>
      <p ng-show="ratingsForm.comment.$error.maxlength">Comment is too long</p>
    </div>
  </div>
</div>

<!-- user image
form to submit input
submit rating button -->
