<form class="container" ng-controller="signupCtrl" ng-submit="submitSignup()">

  <div class="form-group">
    <label for="First">First Name</label>
    <input type="firstname" class="form-control" id="firstname" placeholder="First Name" ng-model="firstname">
  </div>

  <div class="form-group">
    <label for="Last">Last Name</label>
    <input type="lastname" class="form-control" id="lastname" placeholder="Last Name" ng-model="lastname">
  </div>

  <fieldset class="form-group">
    <label for="gender">Gender</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        M
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        F
      </label>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" class="form-control" id="username" placeholder="Username" ng-model="username">
  </div>

  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" ng-model="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="inputPassword1">Password</label>
    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="password1">
  </div>

  <div class="form-group">
    <label for="inputPassword2">Confirm Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" ng-model="password2">
  </div>

  <div class="form-group">
    <label for="inputFile">Selfie</label>
    <input type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">This file will be shown as your selfie.</small>
  </div>

  <button class="btn btn-primary" type="submit" name="submit">Submit</button>
</form>
